.center-content {
	text-align: center;
}

.jumbotron .btn:first-child {
	margin-bottom: 10px;
}

.navbar {
	background: rgba(0,0,0,0.8);
}

footer {
	margin-top: 10px;
	background: #222;
	color: #efefef;
	width: 100%;
}